.main {
  width: 100%;
  .header {
    margin: 10px;
  }
  .backHome {
    color: #00000073;
  }
  .backHome :hover {
    color: rgb(212, 81, 90);
  }
  .create1 {
    display: flex !important;
    justify-content: space-around !important;
  }
  .btnAction {
    float: right;
  }
  .tableMain{
    margin: 10px;
  }
  .cardTitle {
    width: 99%;
    margin: 10px;
  }
  .searchBtn {
    float: right;
  }
  input {
    height: 2rem;
  }
  .search {
    width: calc(100vh - 20rem);
  }
  .antBtnCircle {
    min-width: 32px;
    padding-right: 0;
    padding-left: 0;
    text-align: center;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    padding: 2.4px 0;
    font-size: 16px;
    vertical-align: -3px;
    .addIcon {
      color: #027000;
      transition: margin-left 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    }
    .updateIcon {
      color: #1890ff;
      transition: margin-left 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    }
    .deleteIcon {
      color: #ff7875;
      transition: margin-left 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    }
  }
  .addCircle {
    border-color: #027000;
  }
  .updateCircle {
    border-color: #1890ff;
  }
  .deleteCircle {
    border-color: #ff7875;
  }
  thead[class*="ant-table-thead"] th {
    text-align: center;
  }
  tbody > tr > td {
    text-align: center !important;
  }
}
