.loginWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  background-image: url(https://gw.alipayobjects.com/zos/rmsportal/TVYTbAXWheQpRcWDaDMu.svg);
  max-height: 100vh;
}
.loginForm {
  width: 29%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 9.5%;
}
.submitForm {
  width: 100%;
  height: 2.3rem;
  background-color: "#be202f";
}

.login-form {
  max-width: 300px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}
input {
  height: 1.7rem;
}
