.header {
  display: flex;
  flex-direction: row;
  gap: 25px;
  height: 64px;
  align-items: center;
  background-color: var(--black-2);
  color: var(--black-0);
  padding: 1rem 0 1rem 7rem;
  .logo {
    width: 45px;
    height: 36px;
    margin-left: -1.9rem;
  }
  .userImg {
    width: 24px;
    height: 24px;
    line-height: 24px;
    border-radius: 50%;
  }
  .menu {
    .item {
      display: flex;
      flex-direction: row;
      gap: 5px;
    }
  }
  .ant-dropdown {
    width: 120px !important;
  }
  input {
    height: 1rem;
  }
}
a {
  padding-left: 1rem;
}
div {
  div {
    .ant-dropdown {
      width: 120px !important;
    }
  }
}
